	
	<%- include('partials/header') %>
		

    
    <div id="anchorTop">
            <nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark fixed-top">
                <a class="navbar-brand" href="#">FINT FOLK</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#anchorTop">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#section4">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://https://www.facebook.com/fintfolkas/"><i class="fab fa-facebook-square"></i></a>
                      </li>
                  </ul>
                  <ul class="navbar-nav mr">
                  <li class="nav-item">
                    <a class="nav-link" href="/">NORSK</a>
                  </li>
                </ul>
                </div>
              </nav>
            </div>
        
            
           <div class="container">
           <div class="row">
             
            <div id="popPosition" class="col-12 text-center">
                <div id="popup" class="shadowBox">
                    <div class= "popupPadding">
                        <h1>Hello Everyone,</h1>
                <div>
                    <p>We’re reaching out to you to share some exciting news. You have been with us on our journey to providing exciting and distinctive events for your business, and as you have worked with us, we have grown year on year. As you may know, there have been two parts to our business: events and custom portable bar solutions.  In order to better serve our customers, we have decided to decouple to two lines into two separate organizations, freeing them to move at the speed that is best for them.</p>
     
    <p><span class="textLine">FintFolk</span> is the new company that will handle all of your event needs with the same creativity, drive, and cost-effectiveness you have come to expect. <span class="textLine">Johera</span> will focus on the design and build of the custom bar solutions that feature in FintFolk’s event solutions. </p>
     
    <p>In this change, there will only be a couple small changes. There will be a change to the account you pay invoices to as well, and Gudmund will be your primary point of contact for any event or staffing needs. But that’s it! FintFolk will continue to provide the same quality event solutions and staff reinforcement that you have come to expect.</p>
     
                    <p>If you have any questions or concerns, please feel free to reach out via email or phone.</p>
     
    <p>We look forward to serving you in the future!</p>
                    </div>
                
                </div>
                <h3><span class="clickClose">- Click Here -</span></h3>
                    <br>
            </div>
        </div>   
               
            <div id="title" class="col-12 shadowBox">
              <div id="titleContent" class="container">
                <div class="row">
                  <div class="col-12">
                    <h1 class="contentHeader textShadow">FINT FOLK</h1>
                  </div>
                </div>
              </div>
            </div>
    
               <div id="section1" class="col-12 shadowBox">
                 <div id="content1" class="container rounded">
                   <div class="row">
                     <div class="col-12 textShadow">
                       <h1 class="contentHeader"><span class="clickable">ABOUT US</span></h1>
                       <p class="expand">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab neque sequi quam cupiditate totam veniam, et eum ad corporis! Vero, doloremque. Iusto voluptatibus quae, culpa nisi nostrum itaque enim quisquam deserunt sit voluptas vero atque inventore unde in placeat facere quia accusamus rerum est. Illo doloribus odio vero provident ullam. Beatae accusantium delectus debitis assumenda aut labore consectetur eius nulla, sint placeat similique iusto incidunt nemo nostrum, corporis, rerum vel quam iure quia voluptas omnis nisi eos in. Commodi minima dignissimos, voluptatum eos sunt atque perspiciatis natus nihil inventore aliquam quae, facilis accusamus architecto ipsam, ullam magni possimus animi. Nostrum magni reprehenderit deserunt libero ab ipsam doloribus quaerat alias illo amet! Qui accusantium cumque voluptatibus maxime, quis veniam fugit dolorem neque minima vitae quisquam culpa.</p> 
                       <!--text no more than 125 char-->
                     </div>
                   </div>
                 </div>
               </div>
    
               <div id="section2" class="col-12 shadowBox">
                <div id="content2" class="container rounded">
                  <div class="row">
                    <div class="col-12 textShadow">
                      <h1 class="contentHeader"><span class="clickable">BAR</span></h1>
                      <p class="expand">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat nobis neque repellendus aspernatur nulla quisquam molestias quam cupiditate dolorum consequatur dolorem impedit cumque soluta harum, doloremque mollitia! Eveniet et architecto quas asperiores sit fuga, itaque dolorum exercitationem tenetur inventore veniam. Incidunt, repellat. Aliquid eligendi at, illo hic molestiae architecto? Laborum debitis repudiandae ullam sapiente. Quia exercitationem, sed saepe, quasi itaque adipisci voluptate veritatis velit sequi molestias harum fuga. Voluptatem, praesentium optio impedit hic inventore magni tempore ullam pariatur tenetur aliquid! Ut, nobis? Consectetur quibusdam et, suscipit repellat nobis cum ab.</p>
                      <!--text no more than 90 char-->
                    </div>
                  </div>
                </div>
                <div class="linkToContact container">
                  <div class="row">
                    <div class="col-12 textShadow">
                      <a href="#section4">Click Here to start planning!</a>
                    </div>
                  </div>
                </div>
               </div>
    
               <div id="section3" class="col-12 shadowBox">
                <div id="content3" class="container rounded">
                  <div class="row">
                    <div class="col-12 textShadow">
                      <h1 class="contentHeader"><span class="clickable">DINING</span></h1>
                      <p class="expand">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat sequi ex architecto ducimus excepturi ratione quia, est, soluta voluptas fuga a aperiam reprehenderit maxime autem sit in totam eveniet! Ratione reprehenderit nisi consequuntur, voluptate placeat eligendi aperiam? Possimus, unde. Animi debitis libero sed rem voluptas molestiae molestias itaque tempora at, qui culpa tenetur harum ipsum enim eaque voluptate ad deleniti? Maxime ipsum quia aliquam ad vero corporis laudantium nobis necessitatibus debitis itaque, quibusdam at quo aliquid corrupti. Labore reiciendis adipisci eum voluptas tempore molestiae, quasi odit natus distinctio nemo esse!</p>
                      <!--text no more than 90 char-->
                    </div>
                  </div>
                </div>
                <div class="linkToContact container">
                  <div class="row">
                    <div class="col-12 textShadow">
                      <a href="#section4">Click Here to start planning!</a>
                    </div>
                  </div>
                </div>
               </div>
    
               <div id="section4" class="col-12 shadowBox">
                   <div id="contactBox" class="container">
                       <div class="row">
                        <div class="col-12 textShadow">
                            <h1 class="contentHeader text-center">Contact Us!</h1>
                            <br>
                            <div class="contactInfo">
                            <h1 class="InfoHeader text-center">Gudmund Bjarnason</h1>
                            <h3 id="contact_email">Email: gudmund@fintfolk.no</h3>
                            <h3 id="contact_mobile">Tel: 956 54 678</h3>
                          </div>
                          <hr>
                        </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    

        
        <%- include('partials/footer') %>