	
	<%- include('partials/header.ejs') %>
		

    
    <div id="anchorTop">
            <nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark fixed-top">
                <a class="navbar-brand" href="#">FINT FOLK</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#anchorTop">Forsiden<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#section4">Kontakt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fab fa-facebook-square"></i></a>
                      </li>
                  </ul>
                  <ul class="navbar-nav mr">
                  <li class="nav-item">
                    <a class="nav-link" href="/eng">ENGLISH</a>
                  </li>
                </ul>
                </div>
              </nav>
            </div>
        
            
           <div class="container">
           <div class="row">
             
            <div id="popPosition" class="col-12 text-center">
                <div id="popup" class="shadowBox">
                    <div class= "popupPadding">
                        <h1>Kjære Kunder,</h1>
                <div>
                    <p>Vi skriver til deg fordi vi ønsker å dele en spennende nyhet! Du har vært med på vår reise hvor vi har arrangert spennende, særegne og særlige eventer for deg og din bedrift, og takket være dette har vi fått lov til å vokse år etter år. Som du sikkert vet har vi bestått av to parter; eventer og utvikling av spesialtilpassede barløsninger. For å kunne betjene våre kunder enda bedre har vi bestemt oss for å dele oss opp i to, slik at vi kan fokusere enda mer på eventer.</p>
     
    <p>Vi har dermed blitt <span class="textLine">Fint Folk AS</span>, og vi kommer til å imøtekomme alle dine behov med den samme kreativiteten, lidenskapen og kostnadseffektiviteten som tidligere. Henrik der har vært vår hovedperson i alle år vil ta seg av <span class="textLine">Johera AS</span> og vil dermed ha muligheten til å fokusere på design og fortsette å bygge spesialtilpassede barløsninger som vi bruker på arrangementene våre.</p>
     
    <p>For deg som bedrift vil det kun forekomme noen små endringer som følge av dette. Betalingskontoen vil bli en annen, og det er Gudmund som vil bli deres hovedkontaktperson for arrangementer og/eller personale. Det er alt! Utover dette vil Fint Folk AS fortsette å arrangere eventer av høy kvalitet, og sørge for at alle dine ønsker og behov blir ivaretatt, akkurat som du har kunnet forvente tidligere.</p>
     
                    <p>Hvis du har noen spørsmål, ta gjerne kontakt med oss via mail eller telefon.
                      Vi gleder oss til å jobbe med deg fremover!</p>
     
    <p>Med vennlig hilsen fra oss i Fint Folk AS</p>
                    </div>
                
                </div>
                <h3><span class="clickClose">- Klikk Her -</span></h3>
                    <br>
            </div>
        </div>   
               
            <div id="title" class="col-12 shadowBox">
              <div id="titleContent" class="container">
                <div class="row">
                  <div class="col-12">
                    <h1 class="contentHeader textShadow">FINT FOLK</h1>
                  </div>
                </div>
              </div>
            </div>
    
               <div id="section1" class="col-12 shadowBox">
                 <div id="content1" class="container">
                   <div class="row">
                     <div class="col-12 textShadow">
                       <h1 class="contentHeader"><span class="clickable">OM OSS</span></h1>
                       <p class="expand">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates exercitationem nisi ratione aut voluptatum laudantium architecto recusandae, molestiae aliquam quaerat commodi praesentium distinctio amet tenetur reprehenderit nulla facere dolor eum qui id cupiditate deleniti harum eos? Voluptatibus nobis quaerat atque rerum ipsum molestias, illum, in, quisquam maxime vel voluptas quas nulla. Ea cumque quasi sequi veniam tempora maiores quos vel ad asperiores nihil, dolorum consequuntur impedit doloremque, itaque temporibus commodi qui ducimus at. At alias repellat rerum mollitia nam placeat cumque itaque non inventore molestias illo nesciunt beatae, quo voluptates ipsa, in tempore iste culpa tempora sint, ad commodi! Aliquid sit impedit voluptates facere rem, facilis consequuntur accusamus deserunt odio explicabo alias, fugiat quis saepe? Aliquid dicta numquam libero eius ratione quod tempore, iure illum!</p>
                     </div>
                   </div>
                 </div>
               </div>
    
               <div id="section2" class="col-12 shadowBox">
                <div id="content2" class="container">
                  <div class="row">
                    <div class="col-12 textShadow">
                      <h1 class="contentHeader"><span class="clickable">BAR</span></h1>
                      <p class="expand">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates exercitationem nisi ratione aut voluptatum laudantium architecto recusandae, molestiae aliquam quaerat commodi praesentium distinctio amet tenetur reprehenderit nulla facere dolor eum qui id cupiditate deleniti harum eos? Voluptatibus nobis quaerat atque rerum ipsum molestias, illum, in, quisquam maxime vel voluptas quas nulla. Ea cumque quasi sequi veniam tempora maiores quos vel ad asperiores nihil, dolorum consequuntur impedit doloremque, itaque temporibus commodi qui ducimus at. At alias repellat rerum mollitia nam placeat cumque itaque non inventore molestias illo nesciunt beatae, quo voluptates ipsa, in tempore iste culpa tempora sint, ad commodi! Aliquid sit impedit voluptates facere rem, facilis consequuntur accusamus deserunt odio explicabo alias, fugiat quis saepe? Aliquid dicta numquam libero eius ratione quod tempore, iure illum!</p>
                    </div>
                  </div>
                </div>
               </div>
    
               <div id="section3" class="col-12 shadowBox">
                <div id="content3" class="container">
                  <div class="row">
                    <div class="col-12 textShadow">
                      <h1 class="contentHeader"><span class="clickable">DINING</span></h1>
                      <p class="expand">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates exercitationem nisi ratione aut voluptatum laudantium architecto recusandae, molestiae aliquam quaerat commodi praesentium distinctio amet tenetur reprehenderit nulla facere dolor eum qui id cupiditate deleniti harum eos? Voluptatibus nobis quaerat atque rerum ipsum molestias, illum, in, quisquam maxime vel voluptas quas nulla. Ea cumque quasi sequi veniam tempora maiores quos vel ad asperiores nihil, dolorum consequuntur impedit doloremque, itaque temporibus commodi qui ducimus at. At alias repellat rerum mollitia nam placeat cumque itaque non inventore molestias illo nesciunt beatae, quo voluptates ipsa, in tempore iste culpa tempora sint, ad commodi! Aliquid sit impedit voluptates facere rem, facilis consequuntur accusamus deserunt odio explicabo alias, fugiat quis saepe? Aliquid dicta numquam libero eius ratione quod tempore, iure illum!</p>
                    </div>
                  </div>
                </div>
               </div>
    
               <div id="section4" class="col-12 shadowBox">
                   <div id="contactBox" class="container">
                       <div class="row">
                        <div class="col-12 textShadow">
                            <h1 class="contentHeader text-center">Kontakt</h1>
                            <br>
                            <div class="contactInfo">
                            <h1 class="InfoHeader text-center">Gudmund Bjarnason</h1>
                            <h3 id="contact_email">Email: gudmund@fintfolk.no</h3>
                            <h3 id="contact_mobile">Tel: 956 54 678</h3>
                          </div>
                          <hr>
                          <div class="contactInfo">
                            <h1 class="InfoHeader text-center">Chris Stephens</h1>
                            <h3 id="contact_email">Email: chris@fintfolk.no</h3>
                            <h3 id="contact_mobile">Tel: 95887061</h3>
                          </div>
                        </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    
    
       
    
        <div class="footer d-flex justify-content-center">
            <div class=" footerStyle container-fluid rounded text-center justify-content-center" >
                <p class="shadowText">FINT FOLK AS - Org.No: 924 693 940</p>
            </div>
        </div>
        
        <%- include('partials/footer.ejs') %>