	
	<%- include('partials/header') %>
		

    
    <div>
            <nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark fixed-top">
              <a class="navbar-brand" href="#">
                <img src="/img/fintfolkbrand.png" width="130" alt="brand logo" loading="lazy">
              </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#anchorTop">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/fintfolkas/"><i class="fab fa-facebook-square"></i></a>
                      </li>
                  </ul>
                  <ul class="navbar-nav mr">
                  <li class="nav-item">
                    <a class="nav-link" href="/">NORSK</a>
                  </li>
                </ul>
                </div>
              </nav>
            </div>
        
            
           <div class="container">
           <div class="row">
             
            <div id="popPosition" class="col-12 text-center">
                <div id="popup" class="shadowBox">
                    <div class= "popupPadding">
                        <h1>Hello Everyone,</h1>
                <div>
                    <p>We’re reaching out to you to share some exciting news. You have been with us on our journey to providing exciting and distinctive events for your business, and as you have worked with us, we have grown year on year. As you may know, there have been two parts to our business: events and custom portable bar solutions.  In order to better serve our customers, we have decided to decouple to two lines into two separate organizations, freeing them to move at the speed that is best for them.</p>
     
    <p><span class="textLine">FintFolk</span> is the new company that will handle all of your event needs with the same creativity, drive, and cost-effectiveness you have come to expect. <span class="textLine">Johera</span> will focus on the design and build of the custom bar solutions that feature in FintFolk’s event solutions. </p>
     
    <p>In this change, there will only be a couple small changes. There will be a change to the account you pay invoices to as well, and Gudmund will be your primary point of contact for any event or staffing needs. But that’s it! FintFolk will continue to provide the same quality event solutions and staff reinforcement that you have come to expect.</p>
     
                    <p>If you have any questions or concerns, please feel free to reach out via email or phone.</p>
     
    <p>We look forward to serving you in the future!</p>
                    </div>
                </div>
            </div>
        </div>   
               
 
    
        
        <%- include('partials/footer') %>