	
	<%- include('partials/header.ejs') %>
		

    
    <div id="anchorTop">
            <nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark fixed-top">
                <a class="navbar-brand" href="#">FINT FOLK</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#anchorTop">Forsiden<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/contact">Kontakt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/fintfolkas/"><i class="fab fa-facebook-square"></i></a>
                      </li>
                  </ul>
                  <ul class="navbar-nav mr">
                  <li class="nav-item">
                    <a class="nav-link" href="/eng">ENGLISH</a>
                  </li>
                </ul>
                </div>
              </nav>
            </div>
        
            
           <div class="container">
           <div class="row">
             
            <div id="popPosition" class="col-12 text-center">
                <div id="popup" class="shadowBox">
                    <div class= "popupPadding">
                        <h1>Kjære Kunder,</h1>
                <div>
                    <p>Vi skriver til deg fordi vi ønsker å dele en spennende nyhet! Du har vært med på vår reise hvor vi har arrangert spennende, særegne og særlige eventer for deg og din bedrift, og takket være dette har vi fått lov til å vokse år etter år. Som du sikkert vet har vi bestått av to parter; eventer og utvikling av spesialtilpassede barløsninger. For å kunne betjene våre kunder enda bedre har vi bestemt oss for å dele oss opp i to, slik at vi kan fokusere enda mer på eventer.</p>
     
    <p>Vi har dermed blitt <span class="textLine">Fint Folk AS</span>, og vi kommer til å imøtekomme alle dine behov med den samme kreativiteten, lidenskapen og kostnadseffektiviteten som tidligere. Henrik der har vært vår hovedperson i alle år vil ta seg av <span class="textLine">Johera AS</span> og vil dermed ha muligheten til å fokusere på design og fortsette å bygge spesialtilpassede barløsninger som vi bruker på arrangementene våre.</p>
     
    <p>For deg som bedrift vil det kun forekomme noen små endringer som følge av dette. Betalingskontoen vil bli en annen, og det er Gudmund som vil bli deres hovedkontaktperson for arrangementer og/eller personale. Det er alt! Utover dette vil Fint Folk AS fortsette å arrangere eventer av høy kvalitet, og sørge for at alle dine ønsker og behov blir ivaretatt, akkurat som du har kunnet forvente tidligere.</p>
     
                    <p>Hvis du har noen spørsmål, ta gjerne kontakt med oss via mail eller telefon.
                      Vi gleder oss til å jobbe med deg fremover!</p>
     
    <p>Med vennlig hilsen fra oss i Fint Folk AS</p>
                    </div>
                </div>
            </div>
        </div>   
               
        
        <%- include('partials/footer.ejs') %>