	
	<%- include('partials/header') %>
		

    
    <div id="anchorTop">
            <nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark fixed-top">
                <a class="navbar-brand" href="#">FINT FOLK</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Kontakt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://https://www.facebook.com/fintfolkas/"><i class="fab fa-facebook-square"></i></a>
                      </li>
                  </ul>
                </div>
              </nav>
            </div>
        
            
           <div class="container">
           <div class="row">
             
            <div id="popPosition" class="col-12 text-center">
                <div id="popup" class="shadowBox">
                    <div class= "popupPadding">
                        <div>
                            <h1>Takk!</h1>
                            <hr>
                        </div>
                        <div>
                            <h3>Vi tar kontakt med deg så fort som mulig!</h3>

                            <button id="takkBtn" class="btn btn-secondary"><a href="/">Til forsiden / Back to the front page</button>                        </div>
                </div>
            </div>
        </div>   
               
 
    
        
        <%- include('partials/footer') %>